  # default settings for sessions
  [DEFAULT]
  ConnectionType=acceptor
  ReconnectInterval=30
  HeartBtInt=30
  SenderCompID=HC
  BeginString=FIX.4.4
  StartTime=00:00:00
  EndTime=23:59:00
  SocketAcceptPort=20000
  FileLogPath=/Users/humphreychiu/IdeaProjects/QuickfixJLocal/logs
  FileStorePath=/Users/humphreychiu/IdeaProjects/QuickfixJLocal/logs/store

